@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/* line 11, ../../src/sass/_app.scss */
body {
  overflow: hidden;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

/* line 18, ../../src/sass/_app.scss */
body textarea,
body input {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

/* line 24, ../../src/sass/_app.scss */
img {
  user-drag: none;
  -webkit-user-drag: none;
}

/* line 28, ../../src/sass/_app.scss */
.invisible {
  display: none !important;
}

/* line 32, ../../src/sass/_app.scss */
.visibility-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

/* line 38, ../../src/sass/_app.scss */
.visibility-fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

/* line 44, ../../src/sass/_app.scss */
.visibility-none {
  visibility: hidden;
}

/* line 48, ../../src/sass/_app.scss */
.loading-gif {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* line 54, ../../src/sass/_app.scss */
.expand-view-button {
  position: absolute;
  right: 4px;
  top: 7px;
}

/* line 60, ../../src/sass/_app.scss */
.expand-view-button img {
  width: 25px;
}

/* line 64, ../../src/sass/_app.scss */
.expand-view-button svg {
  width: 25px;
  height: 25px;
}

/* line 69, ../../src/sass/_app.scss */
.expand-view-button svg:hover path {
  fill: #ffbe00 !important;
}

/* line 73, ../../src/sass/_app.scss */
.top-bar-container {
  position: fixed;
  top: 0px;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 83, ../../src/sass/_app.scss */
.bottom-bar-container {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  bottom: 0px;
  background-color: rgba(232, 231, 238, 0.5);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 95, ../../src/sass/_app.scss */
.bottom-bar-container .undo-redo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bababa;
}

/* line 102, ../../src/sass/_app.scss */
.bottom-bar-container .undo-button,
.bottom-bar-container .redo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms;
  cursor: pointer;
}

/* line 111, ../../src/sass/_app.scss */
.bottom-bar-container img {
  height: 30px;
}

/* line 115, ../../src/sass/_app.scss */
.bottom-bar-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #bababa;
  padding-left: 2px;
  padding-right: 2px;
}

/* line 124, ../../src/sass/_app.scss */
.left-sidebar-open-button {
  background-color: #F1F1F4;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 134, ../../src/sass/_app.scss */
.left-sidebar-open-button img {
  width: 28px;
  height: 28px;
}

/* line 139, ../../src/sass/_app.scss */
.top-bar-container .model-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 145, ../../src/sass/_app.scss */
.top-bar-container .model-title {
  font-size: 16px;
  color: black;
  padding: 0 10px 0 10px;
  margin-left: 5px;
  cursor: pointer;
}

/* line 153, ../../src/sass/_app.scss */
.top-bar-container .model-title:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(10%, rgba(255, 255, 255, 0.6)), color-stop(90%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0) 100%);
}

/* line 161, ../../src/sass/_app.scss */
.top-bar-container .save-button {
  font-size: 16px;
  color: red;
  padding: 0 0 0 5px;
  cursor: pointer;
}

/* line 168, ../../src/sass/_app.scss */
.top-bar-container .download-button img {
  height: 32px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 174, ../../src/sass/_app.scss */
.top-bar-container .download-button img:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 178, ../../src/sass/_app.scss */
#prompt {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: black;
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 190, ../../src/sass/_app.scss */
.sidebar-tab-bar-tab.selected-tab {
  border-bottom: 0px;
  background: #E8E7EE;
}

/* line 195, ../../src/sass/_app.scss */
.sidebar-tab-bar-tab {
  display: inline-block;
  border: 2px solid #CCC;
  border-bottom: 0px;
  padding: 5px;
  border-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  top: 1px;
}

/* line 208, ../../src/sass/_app.scss */
.sidebar-tab-bar-tab:last-child {
  border-right: 2px solid #CCC;
}

/* line 212, ../../src/sass/_app.scss */
.sidebar-tab-bar {
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid #CCC;
}

/* line 218, ../../src/sass/_app.scss */
.sidebar-tab-body-container {
  min-height: 200px;
}

/* line 222, ../../src/sass/_app.scss */
.error-dialog-content textarea {
  height: 143px;
  width: 200px;
}

/* line 227, ../../src/sass/_app.scss */
.error-dialog-content .error-description {
  display: inline-block;
  width: 175px;
  padding-right: 10px;
}

/* line 233, ../../src/sass/_app.scss */
.error-dialog-content .error-input {
  display: inline-block;
}

/* line 237, ../../src/sass/_app.scss */
.disabled-button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  pointer-events: none;
}

/* line 243, ../../src/sass/_app.scss */
.offscreen-canvas {
  display: none;
}

/* line 247, ../../src/sass/_app.scss */
#fullscreen-progress-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* line 254, ../../src/sass/_app.scss */
.loading-container progress[value],
.fullscreen-loading-bar progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 4px;
}

/* line 264, ../../src/sass/_app.scss */
progress[value]::-webkit-progress-bar {
  background-color: white;
  color: red;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* line 271, ../../src/sass/_app.scss */
progress[value]::-webkit-progress-value {
  background-color: #ff0026;
  color: red;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* line 278, ../../src/sass/_app.scss */
progress::-moz-progress-bar {
  background-color: #ff0026;
}

/* line 282, ../../src/sass/_app.scss */
.loading-container {
  text-align: center;
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  z-index: -1;
}

/* line 290, ../../src/sass/_app.scss */
.loading-container .image-container {
  text-align: center;
  margin-bottom: 30px;
}

/* line 295, ../../src/sass/_app.scss */
.loading-container .image-container img {
  width: 200px;
  height: 200px;
}

/* line 300, ../../src/sass/_app.scss */
.loading-container progress[value] {
  width: 500px;
  height: 25px;
  border: 1px solid #CCC;
}

/* line 306, ../../src/sass/_app.scss */
.add-location-frame {
  width: 100%;
  height: 100%;
  border: none;
}

/* line 312, ../../src/sass/_app.scss */
.synching-gif img {
  height: 25px;
  float: right;
  margin-right: 5px;
}

/* line 319, ../../src/sass/_app.scss */
.tooltip {
  text-decoration: none;
  position: relative;
}

/* line 325, ../../src/sass/_app.scss */
.tooltip span {
  font-size: 12px;
  display: block;
  visibility: hidden;
  opacity: 0.0;
  color: black;
  background: white;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  position: absolute;
  z-index: 1000;
  width: 130px;
  border: 1px solid gray;
  border-radius: 2px;
  overflow: hidden;
  padding: 4px;
  line-height: 14px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: left;
}

/* line 349, ../../src/sass/_app.scss */
.left span {
  margin-right: 20px;
  right: 0;
}

/* line 355, ../../src/sass/_app.scss */
.right span {
  margin-left: 20px;
  left: 0;
}

/* line 361, ../../src/sass/_app.scss */
.below span {
  margin-top: 20px;
  top: 0;
}

/* line 367, ../../src/sass/_app.scss */
.above span {
  margin-bottom: 32px;
  bottom: 0;
}

/* line 373, ../../src/sass/_app.scss */
.tooltip:hover span {
  visibility: visible;
  opacity: 1.0;
}

/* line 379, ../../src/sass/_app.scss */
.empty-list-message {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: default;
  color: #666;
}

/* line 389, ../../src/sass/_app.scss */
.empty-list-message:hover {
  border: 1px solid transparent;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* line 16, ../../src/sass/_closure.scss */
.goog-menu {
  background: #E8E7EE;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  cursor: default;
  font: normal 10pt 'Open Sans', sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
  /* Arbitrary, but some apps depend on it... */
}

/* line 28, ../../src/sass/_closure.scss */
.goog-tooltip {
  background: #ffe;
  border: 1px solid #999;
  border-width: 1px 1px 1px 1px;
  padding: 2px;
  z-index: 30000;
  font: normal 10pt 'Open Sans', sans-serif;
}

/* line 37, ../../src/sass/_closure.scss */
.goog-tooltip-error {
  color: red;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/**
 * State: resting.
 *
 * NOTE(mleibman,chrishenry):
 * The RTL support in Closure is provided via two mechanisms -- "rtl" CSS
 * classes and BiDi flipping done by the CSS compiler.  Closure supports RTL
 * with or without the use of the CSS compiler.  In order for them not
 * to conflict with each other, the "rtl" CSS classes need to have the @noflip
 * annotation.  The non-rtl counterparts should ideally have them as well, but,
 * since .goog-menuitem existed without .goog-menuitem-rtl for so long before
 * being added, there is a risk of people having templates where they are not
 * rendering the .goog-menuitem-rtl class when in RTL and instead rely solely
 * on the BiDi flipping by the CSS compiler.  That's why we're not adding the
 * @noflip to .goog-menuitem.
 */
/* line 72, ../../src/sass/_closure.scss */
.goog-menuitem {
  color: #000;
  font: normal 10pt 'Open Sans', sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
/* @noflip */
/* line 84, ../../src/sass/_closure.scss */
.goog-menuitem.goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
/* line 91, ../../src/sass/_closure.scss */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
/* line 100, ../../src/sass/_closure.scss */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

/* line 104, ../../src/sass/_closure.scss */
.goog-menuitem-content {
  color: #000;
  font: normal 10pt 'Open Sans', sans-serif;
}

/* State: disabled. */
/* line 110, ../../src/sass/_closure.scss */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}

/* line 114, ../../src/sass/_closure.scss */
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
/* line 121, ../../src/sass/_closure.scss */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: white;
  padding-bottom: 4px;
  padding-top: 4px;
}

/* State: selected/checked. */
/* line 129, ../../src/sass/_closure.scss */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
/* line 142, ../../src/sass/_closure.scss */
.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

/* line 149, ../../src/sass/_closure.scss */
.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
/* line 156, ../../src/sass/_closure.scss */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */
  direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
/* line 169, ../../src/sass/_closure.scss */
.goog-menuitem-rtl .goog-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
/* line 177, ../../src/sass/_closure.scss */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

/* line 181, ../../src/sass/_closure.scss */
.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* line 203, ../../src/sass/_closure.scss */
.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.SubMenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* State: resting. */
/* @noflip */
/* line 225, ../../src/sass/_closure.scss */
.goog-submenu-arrow {
  color: #000;
  left: auto;
  padding-right: 6px;
  position: absolute;
  right: 0;
  text-align: right;
  padding-top: 3px;
  font-size: 70%;
}

/* BiDi override. */
/* @noflip */
/* line 238, ../../src/sass/_closure.scss */
.goog-menuitem-rtl .goog-submenu-arrow {
  text-align: left;
  left: 0;
  right: auto;
  padding-left: 6px;
}

/* State: disabled. */
/* line 246, ../../src/sass/_closure.scss */
.goog-menuitem-disabled .goog-submenu-arrow {
  color: #ccc;
}

/*
 * Copyright 2012 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * styling for goog.ui.menuBar and child buttons.
 *
 * @author tvykruta@google.com (Tomas Vykruta)
 */
/* line 264, ../../src/sass/_closure.scss */
.goog-menubar {
  cursor: default;
  outline: none;
  position: relative;
  white-space: nowrap;
}

/* line 271, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button {
  margin: 0px 0px;
  outline: none;
  border: none;
  padding-right: 1px;
}

/* line 280, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-dropdown {
  display: none;
}

/* line 284, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-outer-box {
  border: none;
}

/* line 288, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-inner-box {
  border: none;
}

/* line 303, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-disabled {
  color: #ccc;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* State: resting. */
/* line 322, ../../src/sass/_closure.scss */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
}

/* Pseudo-rounded corners. */
/* line 337, ../../src/sass/_closure.scss */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
}

/* line 343, ../../src/sass/_closure.scss */
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

/* line 348, ../../src/sass/_closure.scss */
.goog-menu-button-inner-box {
  border-width: 0 1px;
  padding-left: 4px;
  padding-right: 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 357, ../../src/sass/_closure.scss */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
/* line 363, ../../src/sass/_closure.scss */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  /* @noflip */
  left: -1px;
  /* @noflip */
  right: auto;
}

/* line 367, ../../src/sass/_closure.scss */
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */
  right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 372, ../../src/sass/_closure.scss */
*:first-child + html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
/* line 377, ../../src/sass/_closure.scss */
*:first-child + html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */
  left: 1px;
  /* @noflip */
  right: auto;
}

/* Safari-only hacks. */
/* line 383, ../../src/sass/_closure.scss */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

/* line 389, ../../src/sass/_closure.scss */
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
/* line 396, ../../src/sass/_closure.scss */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 402, ../../src/sass/_closure.scss */
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 411, ../../src/sass/_closure.scss */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 417, ../../src/sass/_closure.scss */
*:first-child + html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
/* State: active, open. */
/* line 429, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-active,
.goog-menubar .goog-menu-button-open {
  background-color: white;
  background-position: bottom left;
}

/* State: focused. */
/* line 437, ../../src/sass/_closure.scss */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* line 442, ../../src/sass/_closure.scss */
.goog-menubar .goog-menu-button-active .goog-menu-button-caption,
.goog-menubar .goog-menu-button-open .goog-menu-button-caption {
  color: black;
}

/* Caption style. */
/* line 448, ../../src/sass/_closure.scss */
.goog-menu-button-caption {
  vertical-align: top;
  padding-left: 2px;
  padding-right: 2px;
}

/* Dropdown arrow style. */
/* line 455, ../../src/sass/_closure.scss */
.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: top;
}

/* Pill (collapsed border) styles. */
/* TODO(gboyer): Remove specific menu button styles and have any button support being a menu button. */
/* line 465, ../../src/sass/_closure.scss */
.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0;
}

/* line 471, ../../src/sass/_closure.scss */
.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0;
}

/* line 477, ../../src/sass/_closure.scss */
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  border-left: 1px solid #fff;
}

/* line 481, ../../src/sass/_closure.scss */
.goog-menu-button-collapse-left.goog-menu-button-checked
.goog-menu-button-inner-box {
  border-left: 1px solid #ddd;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */
/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
/* line 504, ../../src/sass/_closure.scss */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
/* line 515, ../../src/sass/_closure.scss */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
/* line 524, ../../src/sass/_closure.scss */
*:first-child + html .goog-inline-block {
  display: inline;
}

/* line 529, ../../src/sass/_closure.scss */
.progress-bar-vertical,
.progress-bar-horizontal {
  position: relative;
  border: 1px solid #949dad;
  background: white;
  padding: 1px;
  overflow: hidden;
  margin: 2px;
}

/* line 539, ../../src/sass/_closure.scss */
.progress-bar-horizontal {
  width: 80%;
  height: 14px;
}

/* line 544, ../../src/sass/_closure.scss */
.progress-bar-vertical {
  width: 14px;
  height: 200px;
}

/* line 549, ../../src/sass/_closure.scss */
.progress-bar-thumb {
  position: relative;
  background: #d4e4ff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 557, ../../src/sass/_closure.scss */
.modal-dialog {
  background: #E8E7EE;
  border: 1px solid #BABABA;
  color: black;
  padding: 1px;
  position: absolute;
  cursor: default;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 101;
  outline: none;
}

/* line 570, ../../src/sass/_closure.scss */
.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited {
  color: #06c;
  cursor: pointer;
}

/* line 577, ../../src/sass/_closure.scss */
.modal-dialog-bg {
  background-color: black;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}

/* line 585, ../../src/sass/_closure.scss */
.modal-dialog-title {
  background: #E8E7EE;
  color: #4A4A4A;
  border-bottom: 1px solid #BABABA;
  /* Add padding on the right to ensure the close button has room. */
  padding: 5px 40px 5px 8px;
  position: relative;
  _zoom: 1;
  /* Ensures proper width in IE6 RTL. */
}

/* line 598, ../../src/sass/_closure.scss */
.modal-dialog-title-text {
  font-size: 18px;
  color: #4A4A4A;
}

/* line 603, ../../src/sass/_closure.scss */
.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(../images/web/wi_close.svg) no-repeat;
  background-size: 19px;
  cursor: default;
  height: 19px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 19px;
  vertical-align: middle;
}

/* line 616, ../../src/sass/_closure.scss */
.modal-dialog-title-close:hover {
  background-color: silver;
}

/* line 620, ../../src/sass/_closure.scss */
.modal-dialog-buttons,
.modal-dialog-content {
  font-family: "Open Sans", sans-serif;
  padding: 8px;
  font-size: 14px;
  color: #4A4A4A;
}

/* line 628, ../../src/sass/_closure.scss */
.modal-dialog-buttons button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  background: #F7F7F7;
  width: 50px;
  border: 1px solid #BABABA;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

/* line 641, ../../src/sass/_closure.scss */
.goog-buttonset-default {
  color: #E8E7EE !important;
  background: #003F87 !important;
  float: right;
  margin-bottom: 5px;
}

/* line 649, ../../src/sass/_closure.scss */
.modal-dialog-button-disabled {
  background: #E8E7EE !important;
  color: #BABABA !important;
}

/* line 654, ../../src/sass/_closure.scss */
.goog-tabpane {
  background: transparent;
  position: relative;
}

/* line 660, ../../src/sass/_closure.scss */
.goog-tabpane-tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 1ex;
  position: relative;
  outline: none;
}

/* line 669, ../../src/sass/_closure.scss */
.goog-tabpane-left .goog-tabpane-tabs {
  float: left;
}

/* line 673, ../../src/sass/_closure.scss */
.goog-tabpane-right .goog-tabpane-tabs {
  float: right;
}

/* line 677, ../../src/sass/_closure.scss */
.goog-tabpane-tabs li:first-child {
  margin-left: 0px;
}

/* line 681, ../../src/sass/_closure.scss */
.goog-tabpane-tabs li:last-child {
  margin-right: 0px;
}

/* line 685, ../../src/sass/_closure.scss */
.goog-tabpane-cont {
  overflow: auto;
  background: #E8E7EE;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 2px;
  height: 500px;
  width: 500px;
}

/* line 694, ../../src/sass/_closure.scss */
.goog-tabpane-tabs .goog-tabpane-tab {
  background: #cccccc;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 701, ../../src/sass/_closure.scss */
.goog-tabpane-tab, .goog-tabpane-tab-selected {
  display: block;
  padding: 0px 3ex;
  background: #E8E7EE;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 710, ../../src/sass/_closure.scss */
.goog-tabpane-top .goog-tabpane-tab,
.goog-tabpane-top .goog-tabpane-tab-selected,
.goog-tabpane-bottom .goog-tabpane-tab,
.goog-tabpane-bottom .goog-tabpane-tab-selected {
  float: left;
}

/* line 717, ../../src/sass/_closure.scss */
.goog-tabpane-top .goog-tabpane-tab,
.goog-tabpane-top .goog-tabpane-tab-selected {
  font-size: 10pt;
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* line 726, ../../src/sass/_closure.scss */
.goog-tabpane-tab-selected,
.goog-tabpane-tab-selected {
  padding-bottom: 2px;
  padding-top: 2px;
}

/* line 733, ../../src/sass/_closure.scss */
#tabpane2 .goog-tabpane-tab {
  margin-top: 0px;
}

/* line 737, ../../src/sass/_closure.scss */
p {
  margin-top: 0px;
}

/* line 744, ../../src/sass/_closure.scss */
.goog-modalpopup-bg {
  background-color: black;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 100;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  cursor: default;
}

/* line 2, ../../src/sass/_dialogprompts.scss */
.model-title-input-container {
  text-align: center;
}

/* line 6, ../../src/sass/_dialogprompts.scss */
.model-title-input {
  width: 100%;
  height: 25px;
  font-size: 14px;
  margin-top: 8px;
  background: #F7F7F7;
  border: 1px solid #BABABA;
  border-radius: 4px;
  padding-left: 5px;
}
/* line 61, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.model-title-input:-moz-placeholder {
  font-style: italic;
}
/* line 64, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.model-title-input::-moz-placeholder {
  font-style: italic;
}
/* line 67, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.model-title-input:-ms-input-placeholder {
  font-style: italic;
}
/* line 56, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.model-title-input::-webkit-input-placeholder {
  font-style: italic;
}

/* line 20, ../../src/sass/_dialogprompts.scss */
.progress-dialog-div {
  width: 300px;
}

/* line 24, ../../src/sass/_dialogprompts.scss */
.progress-dialog-div progress {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #009ad9;
}

/* line 32, ../../src/sass/_dialogprompts.scss */
.progress-dialog-div progress::-moz-progress-bar {
  background: #009ad9;
}

/* line 37, ../../src/sass/_dialogprompts.scss */
.progress-dialog-div progress::-webkit-progress-value {
  background: #009ad9;
}

/* line 8, ../../src/sass/_leftsidebar.scss */
html, body {
  height: 100%;
}

/* line 12, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #F1F1F4;
  z-index: 100;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  overflow-y: auto;
}

/* line 25, ../../src/sass/_leftsidebar.scss */
.left-details-view,
.left-sidebar-container {
  box-shadow: 3px 1px 5px #AAA;
  cursor: default;
}

/* line 31, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .user-account-content,
.left-sidebar-container .geolocation-content {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 40, ../../src/sass/_leftsidebar.scss */
.geolocation-content .loading-gif {
  margin-top: 0;
}

/* line 44, ../../src/sass/_leftsidebar.scss */
.user-account-content .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 50, ../../src/sass/_leftsidebar.scss */
.user-account-content .login-picture-container {
  display: inline-block;
  background-color: #E8E7EE;
  padding: 10px;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 110px;
}

/* line 61, ../../src/sass/_leftsidebar.scss */
.user-account-content .login-name-container {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  min-width: 200px;
  margin-top: 20px;
}

/* line 69, ../../src/sass/_leftsidebar.scss */
.user-account-content .login-firstname {
  color: #5c5b5c;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 77, ../../src/sass/_leftsidebar.scss */
.user-account-content .login-email {
  color: #5c5b5c;
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

/* line 85, ../../src/sass/_leftsidebar.scss */
.user-account-content .logout-button {
  background-color: #005F9E;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 24px;
}

/* line 96, ../../src/sass/_leftsidebar.scss */
.user-account-content .logout-button:hover {
  cursor: pointer;
  color: #ffbe00;
}

/* line 101, ../../src/sass/_leftsidebar.scss */
.user-account-content img.login-picture {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

/* line 107, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .connect-scrollable-content, .left-sidebar-container .connect-scrollable-content-short {
  position: absolute;
  overflow: auto;
  height: calc(100% - 135px);
  width: 100%;
  margin-top: 4px;
}

/* line 124, ../../src/sass/_leftsidebar.scss */
.connect-scrollable-content-short {
  height: calc(100% - 195px) !important;
}

/* line 129, ../../src/sass/_leftsidebar.scss */
.left-sidebar-hidden {
  left: -5000px !important;
}

/* line 133, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-header {
  height: 40px;
  background-color: #ffffff;
  border-bottom: solid 1px #d8d8da;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 142, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-header img {
  margin-left: 5px;
}

/* line 146, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-header .upgrade-account-link {
  color: #009ad9;
  margin-right: 10px;
  cursor: pointer;
}

/* line 155, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-content .projects-section li {
  width: 275px;
  height: 230px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-bottom: 25px;
}

/* line 164, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-content .projects-section ul {
  padding-left: 20px;
}

/* line 168, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .save-new-model-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 7px);
  background: #F1F1F4;
  border-top: solid 1px #d8d8da;
  display: flex;
  flex-direction: row;
}

/* line 179, ../../src/sass/_leftsidebar.scss */
.save-new-model-container .name-label {
  margin-left: 20px;
  margin-top: 20px;
}

/* line 184, ../../src/sass/_leftsidebar.scss */
.save-new-model-container .save-new-model-input {
  height: 33px;
  font-size: 14px;
  border: 1px solid #BABABA;
  border-radius: 2px;
  padding-left: 5px;
  flex: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
}
/* line 61, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.save-new-model-container .save-new-model-input:-moz-placeholder {
  font-style: italic;
}
/* line 64, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.save-new-model-container .save-new-model-input::-moz-placeholder {
  font-style: italic;
}
/* line 67, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.save-new-model-container .save-new-model-input:-ms-input-placeholder {
  font-style: italic;
}
/* line 56, ../../../../../../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.save-new-model-container .save-new-model-input::-webkit-input-placeholder {
  font-style: italic;
}

/* line 197, ../../src/sass/_leftsidebar.scss */
.save-new-model-container .save-here-button {
  display: flex;
  width: 150px;
  height: 33px;
  background-color: #003F87;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 13px;
}

/* line 212, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .file-tree ul {
  margin-top: 0px;
  padding-left: 20px;
}

/* line 217, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .actions-bar .add-file-button,
.trimble-connect-content .actions-bar .add-folder-button,
.trimble-connect-content .actions-bar .sync-button,
.trimble-connect-content .actions-bar .create-project-button {
  width: 120px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #d0d0d7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 236, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .actions-bar .right-aligned-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}

/* line 244, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .actions-bar .create-project-button {
  width: 150px;
}

/* line 248, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .actions-bar img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* line 254, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .actions-bar {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* line 264, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-content .project-view {
  width: 275px;
  height: 230px;
  border: 1px solid #CCC;
  position: relative;
  -moz-transition: border 200ms ease;
  -o-transition: border 200ms ease;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

/* line 272, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .project-view:hover {
  border: 1px solid black;
  cursor: pointer;
}

/* line 277, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .project-view .project-thumbnail {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 284, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .project-view .project-description {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* line 290, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .folder-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 295, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .projects-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 300, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .project-view .project-title {
  font-size: 17px;
  color: #3b3b3b;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #CCC;
  align-items: center;
}

/* line 310, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* line 315, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .connect-file-thumbnail img {
  max-height: 100px;
  max-width: 120px;
  min-height: 50px;
  min-width: 50px;
}

/* line 322, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry {
  background-color: white;
  width: 98%;
  height: 100px;
  border: 1px solid #CCC;
  -moz-transition: border 200ms ease;
  -o-transition: border 200ms ease;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* line 334, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry:hover {
  border: 1px solid black;
}

/* line 338, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .connect-file-thumbnail {
  width: 120px;
  height: 100%;
}

/* line 343, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .connect-filename,
.trimble-connect-content .connect-file-entry .connect-foldername {
  font-size: 16px;
  margin-left: 10px;
}

/* line 349, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .connect-foldername:hover {
  text-decoration: underline;
}

/* line 353, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .connect-file-thumbnail,
.trimble-connect-content .connect-file-entry .connect-filename,
.trimble-connect-content .connect-file-entry .connect-foldername {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 361, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .file-sync-widgets-container {
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

/* line 369, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .file-sync-widgets-container img {
  height: 30px;
  margin-left: 5px;
}

/* line 374, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry:hover .file-sync-widgets-container
img {
  visibility: visible;
}

/* line 379, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .file-sync-widgets-container
img:hover {
  background-color: #D0D0D7;
}

/* line 384, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .connect-file-entry .file-sync-actions-div {
  display: flex;
  align-items: center;
  border-radius: 2px;
}

/* line 390, ../../src/sass/_leftsidebar.scss */
.file-sync-progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  color: #009ad9;
}

/* line 396, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .project-view .project-title span {
  max-width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 403, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-content .project-view img {
  max-width: 225px;
  max-height: 150px;
  min-height: 100px;
  min-width: 100px;
}

/* line 410, ../../src/sass/_leftsidebar.scss */
.trimble-connect-content .selected-file .connect-file-entry {
  background-color: #009AD9;
  color: white;
  border: 1px solid #0064a4;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

/* line 417, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container .trimble-connect-content .connect-section-title {
  margin-left: 20px;
  margin-top: 10px;
  color: #666;
  font-size: 16px;
}

/* line 424, ../../src/sass/_leftsidebar.scss */
.left-sidebar.left-expanded-sidebar .left-tab {
  background-color: #D0D0D7;
  height: 36px;
}

/* line 429, ../../src/sass/_leftsidebar.scss */
.left-sidebar.left-expanded-sidebar .left-tab.user-account-tab {
  margin-top: calc(50vh - 138px);
}

/* line 433, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab {
  height: 36px;
  background-color: #E8E7EE;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

/* line 445, ../../src/sass/_leftsidebar.scss */
.left-sidebar.left-expanded-sidebar {
  height: 100%;
  width: 36px;
  top: 0;
  background-color: #D0D0D7;
}

/* line 453, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab.selected-left-tab {
  background-color: #F1F1F4;
  box-shadow: 1px 1px 3px #777;
}

/* line 458, ../../src/sass/_leftsidebar.scss */
.left-sidebar {
  position: absolute;
  left: 0px;
  top: calc(50vh - 178px);
  background-color: #E8E7EE;
  min-height: 100px;
  width: 36px;
  text-align: center;
  z-index: 100;
  border-radius: 0 2px 2px 0;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 473, ../../src/sass/_leftsidebar.scss */
.left-sidebar.left-expanded-sidebar .hidden-while-not-expanded {
  display: initial;
}

/* line 477, ../../src/sass/_leftsidebar.scss */
.left-sidebar .hidden-while-not-expanded {
  display: none;
}

/* line 481, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab img {
  height: 36px;
  width: 36px;
}

/* line 486, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab:hover {
  background-color: white;
}

/* line 490, ../../src/sass/_leftsidebar.scss */
.left-sidebar.left-expanded-sidebar .left-tab.close-tab {
  display: inherit;
}

/* line 494, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab.close-tab {
  display: none;
}

/* line 498, ../../src/sass/_leftsidebar.scss */
.left-sidebar .left-tab.close-tab img {
  height: 32px;
  width: 32px;
}

/* line 504, ../../src/sass/_leftsidebar.scss */
.left-details-view {
  position: absolute;
  height: 100%;
  right: 0;
  width: 300px;
  background-color: #F1F1F4;
  z-index: 100;
  top: 0;
  font-size: 16px;
  color: #4a4a4a;
  border-left: 1px solid #CCC;
}

/* line 517, ../../src/sass/_leftsidebar.scss */
.left-details-view .left-details-content {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 112px);
  width: 100%;
}

/* line 525, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .thumbnail,
.new-model-content .import-templates-container .file-description {
  display: table-cell;
  cursor: pointer;
}

/* line 531, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .file-description {
  position: relative;
  vertical-align: top;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

/* line 539, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .thumbnail {
  vertical-align: top;
}

/* line 543, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .file-description .units,
.new-model-content .import-templates-container .file-description .description {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* line 549, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .file-description .units {
  font-size: 12px;
  color: #888;
  font-style: italic;
}

/* line 555, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .file-description .description {
  font-size: 12px;
}

/* line 559, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container ul {
  padding-left: 10px;
}

/* line 563, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container ul li {
  list-style: none;
  background: white;
  margin-top: 14px;
}

/* line 569, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container .thumbnail img {
  height: 150px;
  vertical-align: middle;
}

/* line 579, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container li {
  border: 1px solid #CCC;
  -moz-transition: border 200ms ease;
  -o-transition: border 200ms ease;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

/* line 584, ../../src/sass/_leftsidebar.scss */
.new-model-content .import-templates-container li:hover {
  border-color: black;
}

/* line 588, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 100px;
}

/* line 597, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-text-container {
  width: 100%;
}

/* line 601, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container .import-text {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
}

/* line 607, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container .upload-button-container {
  text-align: center;
}

/* line 611, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container .upload-button {
  display: inline-block;
  width: 200px;
  height: 35px;
  color: black;
  background: #EFEFEF;
  padding-top: 10px;
  font-size: 16px;
  box-shadow: 1px 1px 5px #666;
}

/* line 622, ../../src/sass/_leftsidebar.scss */
.dragarea {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: white;
  z-index: 10000;
  opacity: 0.6;
  border: 5px dashed #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #666;
}

/* line 639, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container .preview-thumbnail {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 646, ../../src/sass/_leftsidebar.scss */
.left-details-view .import-local-container .preview-thumbnail img {
  max-height: 180px;
}

/* line 650, ../../src/sass/_leftsidebar.scss */
.left-details-view .left-details-bottom-action-bar {
  position: absolute;
  width: 100%;
  z-index: 101;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F4;
  box-shadow: 0px -1px 5px #AAA;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* line 664, ../../src/sass/_leftsidebar.scss */
.left-details-view .left-details-bottom-action-bar .bottom-button {
  display: flex;
  width: 166px;
  height: 35px;
  background-color: #003F87;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}

/* line 676, ../../src/sass/_leftsidebar.scss */
.upload-button {
  cursor: pointer;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

/* line 681, ../../src/sass/_leftsidebar.scss */
.upload-button:hover {
  color: gray;
}

/* line 685, ../../src/sass/_leftsidebar.scss */
#system-file-browser {
  visibility: hidden;
}

/* line 689, ../../src/sass/_leftsidebar.scss */
.left-details-view .connect-file-details {
  text-align: left;
  padding-top: 5px;
}

/* line 694, ../../src/sass/_leftsidebar.scss */
.left-details-view .connect-file-details .connect-file-thumbnail {
  text-align: center;
  padding-bottom: 5px;
}

/* line 699, ../../src/sass/_leftsidebar.scss */
.left-details-view .connect-file-details .connect-file-thumbnail img {
  width: 95%;
}

/* line 703, ../../src/sass/_leftsidebar.scss */
.left-details-view .left-file-details-header {
  padding-left: 7px;
  padding-top: 3px;
  margin-top: 40px;
  border-top: 1px solid #bababa;
}

/* line 710, ../../src/sass/_leftsidebar.scss */
.left-details-view .connect-file-details .details-container {
  margin-left: 7px;
  margin-right: 7px;
}

/* line 715, ../../src/sass/_leftsidebar.scss */
.details-container .details-filename-label,
.details-container .created-by-label,
.details-container .file-size-label,
.details-container .modified-by-label {
  font-size: 14px;
  margin-top: 20px;
  color: #8c8b96;
  border-bottom: 1px solid #bababa;
}

/* line 725, ../../src/sass/_leftsidebar.scss */
.details-container .details-filename,
.details-container .created-by,
.details-container .file-size,
.details-container .modified-by {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 733, ../../src/sass/_leftsidebar.scss */
.left-sidebar-container.compressed {
  width: calc(100% - 300px);
}
